.avatarDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--accent);
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
}
